/*!
 * jQuery Chord Transposer plugin v3.1.1
 * Date: Selasa 16 Desember 2016
 * Didit Transpose CSS
 */
.toggle_lyrics {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ff0051) );
	background:-moz-linear-gradient( center top, #ededed 5%, #ff0051 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ff0051');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #4f4a4f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:100px;
	text-decoration:none;
	text-align:center;
}
.toggle_lyrics:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0051), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #ff0051 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0051', endColorstr='#ededed');
	background-color:#ff0051; color:#ffffff;
}.toggle_lyrics:active {
	position:relative;
	top:1px;
}


.SongIndex {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	-webkit-border-top-left-radius:1px;
	-moz-border-radius-topleft:1px;
	border-top-left-radius:1px;
	-webkit-border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-top-right-radius:1px;
	-webkit-border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-right-radius:1px;
	-webkit-border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
	border-bottom-left-radius:1px;
	text-indent:0;
	border:1px solid #141414;
	display:inline-block;
	color:#3d3a3d;
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:16px;
	line-height:16px;
	width:16px;
	text-decoration:none;
	text-align:center;
    margin:1px
}.SongIndex:hover {
	background-color:#1e62d0; 
color: #ffffff !important; font-weight: bold;
	
}.SongIndex:active {
	position:relative;
	top:1px;
}



.DaftarLirikLagu {
	background-color:#ffffff;
	-webkit-border-top-left-radius:1px;
	-moz-border-radius-topleft:1px;
	border-top-left-radius:1px;
	-webkit-border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-top-right-radius:1px;
	-webkit-border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-right-radius:1px;
	-webkit-border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
	border-bottom-left-radius:1px;
	text-indent:0;
	border:1px solid #292929;
	display:inline-block;
	color:#292729;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:21px;
	line-height:21px;
	width:52px;
	text-decoration:none;
	text-align:center;
    margin:1px
}.DaftarLirikLagu:hover {
 background-color:#b37604;color: #ffffff; font-weight: normal;
}.DaftarLirikLagu:active {
 position:relative;
 top:1px;